<footer>
  <p>
    <%= github_url('Andex', 'TestGuru') %><br>
    <strong>Автор<i> Andex </i></strong>
  </p>
  <p>
    Учебный проект в онлайн-школе <%= link_to 'Thinknetica', 'http://thinknetica.com' %>
  </p>
  <p>
    <h3><%= current_year %></h3>
  </p>
</footer>