<h1 class='nav header'><%= link_to 'TestGuru', tests_path %></h1>
<% if user_signed_in? %>
  <p class='nav user'>Добро пожаловать, <strong><%= current_user.email %></strong><i>-Гуру</i></p>
  <p class='nav user'>
    <%= link_to 'Выйти', destroy_user_session_path, method: :delete, data: { confirm: 'Вы уверены, что хотите выйти?'} %>
  </p>
<% end %>