<h1>Редактирование варианта ответа</h1>

<strong><%= @answer.question.body %></strong>

<%= render 'form', button: 'Сохранить' %>

<%= link_to 'Показать ответ', @answer %> |
<%= link_to 'Назад', question_path(@answer.question) %>
