<h1>Редактирование варианта ответа</h1>

<strong><%= @answer.question.body %></strong>

<%= render 'form', button: 'Сохранить' %>

<%= link_to 'Показать ответ', admin_answer_path %> |
<%= link_to 'Назад', admin_question_path(@answer.question) %>
