<div class="card-header text-center">
  <h2><%= t('.header') %></h2>
</div>
<div class="container card-body">
  <strong class="lead font-italic">
    <%= t('.form') %>
  </strong>
  <%= octicon 'cross-reference', class: 'text-info' %>
  <%= render 'form' %>
</div>
