.nav.header {
  line-height: 1.2;
  position: relative;
  padding: 0 14px;
}
.nav.header:after {
  content: "";
  height: 100%;
  min-width: 4px;
  background: #34495e;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: .5s;
}
.nav.header:hover {
  min-width: 100%;
  opacity: .35;
}

.nav.user {
  text-align: right;
}

.nav.user-email {
  border-bottom: 1px solid #3c85e0;
}

.nav.nav-admin {
  height: 35px;
  padding: 15px;
  line-height: 35px;
  color: black;
  background-image: linear-gradient(to right, #f9d423 0%, #f58005 100%);  margin-bottom: 40px;
}

.nav-admin.title {
  font-size: 140%;
  font-width: bold;
  text-transform: uppercase;
}

.nav-admin.user {
  float: right;
}

.nav-admin.user-email {
  text-decoration: underline;
}

.nav.nav-admin a {
  color: white;
  text-transform: uppercase;
}
