<h1>Все тесты</h1>

<%= link_to 'Новый тест', new_test_path %>

<table>
  <tr>
    <th>Название теста</th>
    <th>Уровень</th>
    <th>Категория</th>
    <th>Количество вопросов</th>
    <th colspan="4">Действия</th>
  </tr>

  <%= render @tests %>

</table>